* { margin: 0px; }

header {
    width: 100%;
    height: 100px;
    background-color: red;
}

section {
    width: 100%;
    height: 200px;
    background-color: blue;
}

article {
    width: 50%;
    height: 100px;
    background-color: yellow;
}

aside, footer {
    width: 100%;
    height: 100px;
    background-color: red;
}

p {
  width: 100%;
  height: 150px;
  background-color: white;
}

ul {
  width: 10%;
  height: 100px;
  background-color: green;
}
ol {
  width: 10%;
  height: 100px;
  background-color: yellow;
}
